@use 'base/variables' as v;

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    font-family: v.$fuente_principal;
    
    &.fijar-body {
        overflow: hidden;
    }
    &.body-scroll {
        padding-top: 8.6rem;
    }
}

p {
    font-size: 2rem;
    line-height: 1.5;
    color: v.$negro;
}

a {
    text-decoration: none;
}

h1,
h2,
h3 {
    margin: 0 0 5rem 0;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3rem;
}

img {
    max-width: 100%;
    width: 100%;
    height: auto;
    display: block;
}

.contenedor {
    width: min(95%, 120rem);
    margin: 0 auto;
}