@use 'base/variables' as v;
@use 'base/mixins' as m;

.boletos {
    padding: 4rem 0;

    h3 {
        text-align: center;
        color: v.$blanco;
        margin: 1rem 0;
    }
}

.contenedor-boletos {
    @include m.tablet {
        @include m.grid(2, 5rem);
    }

    p {
        color: v.$blanco;
        text-align: center;
    }
}

.boleto {

    &-header,
    &-footer {
        padding: .5rem;
        p {
            text-align: center;
            margin: 0;
        }
    }

    &-header {
        background-color: v.$rosa;
        text-align: center;
        text-transform: uppercase;
    }

    &-body {
        background-color: v.$blanco;

        ul {
            @include m.resetearLista;
        }

        li {
            font-size: 2rem;
            padding: 1rem 0;
            text-align: center;
            border-bottom: 1px solid lighten(v.$negro, 80%);

            &:nth-child(odd) {
                background-color: transparent;
            }
        }

    }

    &-footer {
        background-color: v.$morado;
        p {
            font-size: 2.4rem;
            font-weight: 700;
        }
    }
}