@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
    @include m.contenedor;

    &-imagenes {
        @include m.grid(1, 2rem);

        @include m.telefono {
            @include m.grid(2, 2rem);
        }

        @include m.tablet {
            @include m.grid(3, 2rem);
        }

        @include m.desktop {
            @include m.grid(4, 2rem);
        }

        img {
            height: 20rem;
            width: 100%;
            object-fit: cover;
        }

        img:hover {
            cursor: pointer;
        }
    }
}

.modal {
    position: fixed;
    inset: 0;
    background-color: rgba(v.$negro, 0.5);
    display: grid;
    place-items: center;
    animation: fadeIn ease-in .5s;

    &.fade-out {
        animation: fadeOut ease-out .5s;
    }

    img {
        max-width: 100rem;
    }
}

.btnCerrar {
    background-color: v.$rosa;
    color: v.$blanco;
    margin: 0;
    height: 3rem;
    width: 3rem;
    border: none;
    display: grid;
    place-items: center;
    margin-top: .5rem;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    transition: all .3s ease;

    &:hover {
        background-color: v.$blanco;
        color:  v.$rosa;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}