@use 'base/variables' as v;
@use 'base/mixins' as m;

.galeria {
    padding: 5rem 0;

    h3 {
        text-align: center
    }
}

.galeria-imagenes {

    @include m.resetearLista;
    @include m.grid(2, 2rem);

    @include m.telefono {
        @include m.grid(3, 2rem);
    }

    @include m.tablet {
        @include m.grid(4, 2rem);
    }

    @include m.desktop {
        @include m.grid(6, 2rem);
    }
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: grid;
    place-items: center;

    background-color: rgb(0 0 0 / 50%);

    picture {
        width: min(90%, 80rem);
        display: block;
    }

    .cerrar {
        background-color: v.$blanco;
        font-weight: 700;
        color: v.$negro;
        width: 4rem;
        height: 4rem;
        border-radius: 50%;
        display: grid;
        place-items: center;
        margin: 0;
        transition: all .3s ease-in-out;

        &:hover {
            cursor: pointer;
            background-color: v.$rosa;
            color: v.$blanco;
        }

    }
}