@use 'base/variables' as v;
@use 'base/mixins' as m;

.video {
    position: relative;
    max-height: 70rem;
    min-height: 50rem;
    overflow: hidden;

    .overlay {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        background: rgb(115, 2, 195);
        background: linear-gradient(270deg, rgba(115, 2, 195, 0.5) 0%, rgba(255, 0, 110, 0.3) 100%);
        z-index: 1;
    }

    video {
        width: auto;
        display: block;
        @include m.desktop {
            width: 100%;
        }

    }
}

.contenido-video {

    h2 {
        font-size: 7rem;
        color: v.$blanco;
        margin: 0;
    }

    p {
        margin: 0;
        display: inline-block;
        color: v.$blanco;
        background-color: v.$rosa;
        padding: 1rem 2rem;
        border-radius: 1rem;
    }
}